<h1>{{ name }}</h1>

<dl>
  <td>Nombre</td>
  <dd>{{name}}</dd>

  <td>Edad:</td>
  <dd>{{age}}</dd>

  <td>Método:</td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado:</td>
  <dd>{{capitalizedName}}</dd>

</dl>

<button class="btn btn-primary mx-2"
  (click)="changeHero()"
  *ngIf="name !== 'Spiderman'"> <!-- Cualquier valor negativo hará que sea false,
  como se crean por defecto las variables en Java de una clase-->
  Cambiar nombre</button>
<button class="btn btn-primary"
(click)="changeAge()"
*ngIf="age !== 25">
  Cambiar edad
</button>

<button class="btn btn-primary mx-2"
(click)="resetForm()">
  Reset
</button>
